body {
	background-color: lightblue;
	font-family: cursive;
}

div {
	margin: auto;
	width: 400px;
}

#div2 {
	margin: 30px auto 30px auto;
	padding: 10px 10px 10px 10px;
	border: 2px solid green;
}

.centered {
	width: 400px;
	margin: auto;

}

table {
	width: 400px;
	margin: auto;
}

.odd-color-change:nth-child(odd) {
	color: red;
}

div:last-of-type {
	color: red;
}

ul ol {
	list-style-type: upper-roman;
}

.hide-until-hover {
	display: none;
}

ul:hover .hide-until-hover {
	display: block;
}

@-webkit-keyframes changeColor {
  	from {width: 100px; height: 100px; background: green;}
	to {width: 200px; height: 200px; background: yellow;}
}

@-moz-keyframes changeColor {
  	from {width: 100px; height: 100px; background: green;}
	to {width: 200px; height: 200px; background: yellow;}
}

@-o-keyframes changeColor {
 	from {width: 100px; height: 100px; background: green;}
	to {width: 200px; height: 200px; background: yellow;}
}

@keyframes changeColor {
	from {width: 100px; height: 100px; background: green;}
	to {width: 200px; height: 200px; background: yellow;}
}

#enter-animation {
	width: 100px;
	height: 100px;
	float: right;
	background: green;
	-webkit-animation: changeColor 4s infinite;
	-moz-animation: changeColor 4s infinite;
	-o-animation: changeColor 4s infinite;
	animation: changeColor 4s infinite;
}

.on-hover-animation {
	margin: auto;
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transition: width 2s, height 4s, background 3s;
	transition: width 2s, height 4s, background 3s;
}

.on-hover-animation:hover {
	width: 200px;	
	height: 200px;
	background: blue;
}

img {
	width: 300px;
}